@media (max-width: 991.98px) {
   /* NAV */
   #nav{
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
    background: #ffffff;
    padding: 18px 18px 18px 0;
   }
   /* NAV END */

   /* BANNER */
   #banner{
    padding: 0;
   }
   #banner h4{
    font-size: 15px;
    padding-top: 37px;
    margin: 0;
   }
   #banner h2{
    font-size: 34px;
    padding-top: 8px;
    margin: 0;
   }
   #banner p{
    font-size: 15px;
    padding-top: 22px;
    margin: 0;
    width: 100%;
   }
   #banner .iconify{
    padding-top: 22px;
   }
   #banner .iconify a:nth-child(1){
      border-radius: 10px;
      width: 120px;
      height: 52px;
      font-size: 10px;
      padding: 8PX 20PX 9PX 20PX;
      margin-right: 12PX;
  }
  #banner .iconify a:nth-child(1) span{
    padding: 5px 0px 0px 0px;
   
  }
  #banner .iconify a:nth-child(2){
   border: 0.70px solid #353535;
   border-radius: 10px;
   width: 100px;
   height: 35px;
   font-size: 10px;
   padding: 8PX 12PX 9PX 7PX;
  }
  #banner .iconify a:nth-child(2) span{
     padding: 5PX 0 0 0;
  }
  #banner .mouse a{
    display: none;
  }
  #banner .follow span:nth-child(1){
    font-size: 16px;
  }
   /* BANNER END */

   /* ABOUT */
   #about .col-lg-5 {
    order: calc(2);
   }
   #about .images{
    padding: 0;
   }
   #about .img-fluid{
    transform: rotateY(180deg);
    padding: 0 10px 0 0;
   }
   #about .col-lg-7 {
    order: calc(1);
   }
  #about .me h2{
    font-size: 24px;
    padding-top: 43px;
  }
  #about .me p{
    font-size: 14px;
    width: 100%;
    padding: 16px 0 36px 0;
  }
  #about .me a{
    padding: 11px 26px;
    font-size: 14px;
    border-radius: 15px;
    width: 121px;
    height: 47px;
  }
  #about .circle img{
    rotate: 180deg;
    width: 87px;
    height: 43.7px;
  }
  #about .circle{
    top: 0;
    padding-right: 23px;
  }
   /* ABOUT END */

   /* DISCUSSION */
   #discussion {
    padding-top: 75px;
   }
   #discussion .pixel{
    border-radius: 12px;
    width: 343px;
    height: 156px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.08);
    background: #fff;
    margin: 0 16px 15px;
    text-align: left;
   }
   #discussion .pixel a{
    padding: 0px 0 0 20px;
   }
   #discussion .pixel img{
    width: 43px;
    height: 45px;

   }
   #discussion .pixel h4{
    font-size: 14px;
    width: 30%;
    text-align: center;
    display: inline-block;
    margin: 0px 0 0 16px;
    padding: 0;
   }
   #discussion .pixel p{
    font-size: 12px;
    width: 75%;
    text-align: start;
    padding: 0;
    margin: 3px 0 15px 85px;
   }

   #discussion .high{
    border-radius: 12px;
    width: 343px;
    height: 156px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.08);
    background: #fff;
    margin: 0 16px 15px;
    text-align: left;
   }
   #discussion .high a{
    padding: 0px 0 0 20px;
   }
   #discussion .high img{
    width: 43px;
    height: 45px;

   }
   #discussion .high h4{
    font-size: 14px;
    width: 30%;
    text-align: center;
    display: inline-block;
    margin: 0px 0 0 16px;
    padding: 0;
   }
   #discussion .high p{
    font-size: 12px;
    width: 75%;
    text-align: start;
    padding: 0;
    margin: 3px 0 15px 85px;
   }

   #discussion .awesome{
    border-radius: 12px;
    width: 343px;
    height: 156px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.08);
    background: #fff;
    margin: 0 16px 15px;
    text-align: left;
   }
   #discussion .awesome a{
    padding: 0px 0 0 20px;
   }
   #discussion .awesome img{
    width: 43px;
    height: 45px;

   }
   #discussion .awesome h4{
    font-size: 14px;
    width: 30%;
    text-align: center;
    display: inline-block;
    margin: 0px 0 0 16px;
    padding: 0;
   }
   #discussion .awesome p{
    font-size: 12px;
    width: 75%;
    text-align: start;
    padding: 0;
    margin: 3px 0 15px 85px;
   }
   /* DISCUSSION END */

   /* BRANDING */
   #branding .container{
    border-radius: 50px;
    padding: 0 16px;
   }
   #branding .col-lg-5{
    order: calc(2);
   }
   #branding .col-lg-7{
    order: calc(1);
    padding: 0;/
   }
   #branding .brand h4{
    font-size: 24px;
    color: #353535;
    padding: 27px 0 0 40px;
   }
   #branding .brand p{
    font-size: 14px;
    padding: 17px 0 0 40px;
    width: 80%;
   }
   #branding .brand img{
    display: none;
   }
   #branding .brand span{
    padding: 23px 0 0 40px;
   }
   #branding .brand a{
    font-size: 14px;
    padding: 10px 25px;
    width: 140px;
    height: 50px;
   }
   #branding .img-fluid{
    padding: 10px 25px 0 10px;
   }
   #branding .ell img{
    width: 43px;
    height: 43px;
   }
   #branding .ell{
    top: -15px;
    right: 50px;
   }
   /* BRANDING END */

   /* DESIGN */
   #design{
    padding-top: 75px;
   }
   #design .col-lg-4{
    order: calc(2);
    padding-top: 38px;
   }
   #design .help .col-lg-5{
    order: calc(1);
   }
   #design .help h2{
    font-size: 24px;
    text-align: left;
   }
   #design .help p{
    font-size: 15px;
    text-align: left;
    margin: 0;
   }
   #design .help .project h4{
    font-size: 24px;
    text-align: left;
   }
   #design .help .project p{
    font-size: 10px;
    padding: 0;
    margin: 0;
   }
   #design .help .happy h4{
    font-size: 24px;
    text-align: left;
   }
   #design .help .happy p{
    font-size: 10px;
    padding: 0;
    margin: 0;
   }
   #design .help .project{
    width: 35%;
   }
   #design .help .happy{
    width: 65%;
   }
   /* DESIGN END */

   /* EXPERIENCE */
   #experience h2{
      font-size: 24px;
      padding-bottom: 50px;
   }
   #experience .row{
    padding-left: 40px;
    position: relative;
   }
   #experience .row::after{
    content: '';
    position: absolute;
    height: 100%;
    left: 24px;
    top: 0;
    border: 1px dashed #7A7A7A;
    z-index: 1;
   }
   #experience .employ::before{
    width: 23px;
    height: 23px;
    left: -27px;
    top: 0px;
    z-index: 5;
}
#experience .employ::after{
  width: 11px;
  height: 11px;
  left: -20px;
  top: 6px;
  z-index: 5;
}
#experience .service::before{
  width: 23px;
  height: 23px;
  left: -27px;
  top: 0px;
  z-index: 5;
}
#experience .service::after{
  width: 11px;
  height: 11px;
  left: -20px;
  top: 6px;
  z-index: 5;
}
#experience .global::before{
  width: 23px;
  height: 23px;
  left: -27px;
  top: 0px;
  z-index: 5;
}
#experience .global::after{
  width: 11px;
  height: 11px;
  left: -20px;
  top: 6px;
  z-index: 5;
}

#experience .employ{
  border: none;
}
#experience .employ h4{
font-size: 15px;
}
#experience .employ p{
  font-size: 12px;
}
#experience .visual h4{
font-size: 15px;
}
#experience .visual p{
font-size: 12px;
width: 90%;
}
#experience .service{
  border: none;
}
#experience .service h4{
  font-size: 15px;
  }
  #experience .service p{
    font-size: 12px;
  }
  #experience .ui h4{
  font-size: 15px;
  }
  #experience .ui p{
  font-size: 12px;
  width: 90%;
  }
  #experience .global{
    border: none;
  }
  #experience .global h4{
    font-size: 15px;
    }
    #experience .global p{
      font-size: 12px;
    }
    #experience .product h4{
    font-size: 15px;
    }
    #experience .product p{
    font-size: 12px;
    width: 90%;
    }

   /* EXPERIENCE END */

   /* EXPERT_AREAS */
   #expert_areas{
    padding-top: 77px;
   }
   #expert_areas .areas h2{
    font-size: 24px;
    padding-bottom: 26px;
   }
   #expert_areas .areas p{
    font-size: 15px;
   }
   #expert_areas .areas a{
    display:  none;
   }
   #expert_areas .sk_ed{
    padding: 48px 0;
   }

   #expert_areas .figma p{
    width: 343px;
    height: 4px;
   }
   #expert_areas .figma p span{
    width: 309px;
    height: 4px;
   }
   #expert_areas .figma h5{
    font-size: 14px;
   }
   #expert_areas .figma h5 span{
    font-size: 14px;
    padding-left: 240px;
   }

   #expert_areas .photoshop p{
    width: 343px;
    height: 4px; 
   }
   #expert_areas .photoshop p span{
    width: 284px;
    height: 4px;
   }
   #expert_areas .photoshop h5{
    font-size: 14px;
   }
   #expert_areas .photoshop h5 span{
    font-size: 14px;
    padding-left: 185px;
   }

   #expert_areas .xd p{
    width: 343px;
    height: 4px;
   }
   #expert_areas .xd p span{
    width: 298px;
    height: 4px;
   }
   #expert_areas .xd h5{
    font-size: 14px;
   }
   #expert_areas .xd h5 span{
    font-size: 14px;
    padding-left: 250px;
   }

   #expert_areas .illustrator p{
    width: 343px;
    height: 4px;
   }
   #expert_areas .illustrator p span{
    width: 253px;
    height: 4px;
   }
   #expert_areas .illustrator h5{
    font-size: 14px;
   }
   #expert_areas .illustrator h5 span{
    font-size: 14px;
    padding-left: 160px;
   }
   /* EXPERT_AREAS END */

   /* SEVICES */
   #service{
    padding-bottom: 40px;
   }
   #service .row{
    width: 100%;
    padding-left: 25px;
}
#service h2{
  font-size: 24px;
  text-align: left;
  padding-top: 34px;
}
#service p{
  font-size: 13px;
  width: 100%;
  text-align: left;
  margin: 0;
  padding-bottom: 45px;
}

#service .creative{
  margin-bottom: 40px;
}
#service .card_1{
  width: 343px;
height: 200px;
text-align: left;
}
#service .card_1 h4{
  font-size: 15px;
  width: 40%;
  text-align: left;
  display: inline-block;
  padding: 0;
  margin: 0;
}
#service .card_1 p{
  font-size: 13px;
  width: 100%;
  text-align: start;
  display: inline-block;
  padding: 0 0 17px 80px;
}
#service .card_1 .img-fluid{
  width: 74px;
height: 65px;
padding: 20px 15px 0 22px;
}

#service .ux{
  margin-bottom: 15px;
}
#service .card_2{
  width: 343px;
height: 200px;
text-align: left;
}
#service .card_2 h4{
  font-size: 15px;
  width: 40%;
  text-align: left;
  display: inline-block;
  padding: 0;
  margin: 0;
}
#service .card_2 p{
  font-size: 13px;
  width: 100%;
  text-align: start;
  display: inline-block;
  padding: 0 0 17px 80px;
}
#service .card_2 .img-fluid{
  width: 74px;
height: 65px;
padding: 20px 15px 0 22px;
}

#service .wev{
  margin-bottom: 40px;
}
#service .card_3{
  width: 343px;
height: 200px;
text-align: left;
}
#service .card_3 h4{
  font-size: 15px;
  width: 40%;
  text-align: left;
  display: inline-block;
  padding: 0;
  margin: 0;
}
#service .card_3 p{
  font-size: 13px;
  width: 100%;
  text-align: start;
  display: inline-block;
  padding: 0 0 17px 80px;
}
#service .card_3 .img-fluid{
  width: 74px;
height: 65px;
padding: 20px 15px 0 22px;
}
   /* SEVICES END */

   /* FEEDBACK */
   #feedback{
    margin-bottom: 46px;
   }
   #feedback h2{
    font-size: 24px;
    width: 80%;
   }
   #feedback p{
    font-size: 13px;
    width: 90%;
   }
   #feedback .row{
    padding-top: 24px;
   }
   #feedback .valuable{
    padding-top: 19px;
   }
   #feedback .valuable p:nth-child(1){
    font-size: 15px;
    width: 95%;
    margin-bottom: 0;
   }
   #feedback .valuable h4{
    font-size: 15px;
    padding-top: 5px;
   }
   /* FEEDBACK END */

   /* BLOG_POST */
   #blog_post h2{
    font-size: 24px;
    text-align: left;
    margin-bottom: 42px;
   }
   #blog_post .blog_1{
    padding-top: 42px;
   }
   #blog_post .blog_1 .img-fluid{
    border-radius: 20px;
    width: 163px;
    height: 153px;
   }
   #blog_post .blog_1 .details{
    width: 50%;
   }
   #blog_post .blog_1 .details p{
    font-size: 10px;
    margin-bottom: 6px;
   }
   #blog_post .blog_1 .details p span{
    font-size: 10px;
   }
   #blog_post .blog_1 .details h4{
    font-size: 13px;
    margin-bottom: 27px;
   }
   #blog_post .blog_1 .details a{
    font-size: 12px;
   }
   #blog_post .blog_1 .details a i{
    padding-left: 5px;
   }

   #blog_post .blog_2{
    padding-top: 27px;
   }
   #blog_post .blog_2 .img-fluid{
    border-radius: 20px;
    width: 163px;
    height: 153px;
   }
   #blog_post .blog_2 .details{
    width: 50%;
   }
   #blog_post .blog_2 .details p{
    font-size: 10px;
    margin-bottom: 6px;
   }
   #blog_post .blog_2 .details p span{
    font-size: 10px;
   }
   #blog_post .blog_2 .details h4{
    font-size: 13px;
    margin-bottom: 27px;
   }
   #blog_post .blog_2 .details a{
    font-size: 12px;
   }
   #blog_post .blog_2 .details a i{
    padding-left: 5px;
   }

   #blog_post .blog_3{
    padding-top: 27px;
   }
   #blog_post .blog_3 .img-fluid{
    border-radius: 20px;
    width: 163px;
    height: 153px;
   }
   #blog_post .blog_3 .details{
    width: 50%;
   }
   #blog_post .blog_3 .details p{
    font-size: 10px;
    margin-bottom: 6px;
   }
   #blog_post .blog_3 .details p span{
    font-size: 10px;
   }
   #blog_post .blog_3 .details h4{
    font-size: 13px;
    margin-bottom: 27px;
   }
   #blog_post .blog_3 .details a{
    font-size: 12px;
   }
   #blog_post .blog_3 .details a i{
    padding-left: 5px;
   }

   #blog_post .blog_4{
    padding-top: 27px;
   }
   #blog_post .blog_4 .img-fluid{
    border-radius: 20px;
    width: 163px;
    height: 153px;
   }
   #blog_post .blog_4 .details{
    width: 50%;
   }
   #blog_post .blog_4 .details p{
    font-size: 10px;
    margin-bottom: 6px;
   }
   #blog_post .blog_4 .details p span{
    font-size: 10px;
   }
   #blog_post .blog_4 .details h4{
    font-size: 13px;
    margin-bottom: 27px;
   }
   #blog_post .blog_4 .details a{
    font-size: 12px;
   }
   #blog_post .blog_4 .details a i{
    padding-left: 5px;
   }
   /* BLOG_POST END */

   /* GET */
   #get{
    padding-top: 29px;
   }
   #get .row{
    margin: 0 10px;
    border-radius: 19px;
    height: 275px;
   }
   #get .now{
    padding: 32px 0 0 40px;
   }
   #get .now h4{
    font-size: 12px;
   }
   #get .now h2{
    font-size: 20px;
   }
   #get .now p{
    font-size: 14px;
    width: 80%;
   }

   #get .email{
    text-align: center;
    padding-top: 0px;
   }
   #get .email input{
    font-size: 12px;
    padding: 12px 0 11px 20px;
    height: 47px;
    width: 80%;
   }
   #get .email a{
    font-size: 12px;
    margin-top: 0px;
    width: 76px;
    height: 47px;
    padding: 11px 0 11px 8px;
    right: 45px;
   }
   /* GET END */

   /* CONTACT */
   #contact{
    margin-top: 59px;
    height: 458px;
   }
   #contact .call{
    padding-top: 29px;
   }
   #contact .call img{
    width: 114px;
    padding-bottom: 17px;
   }
   #contact .call p{
     font-size: 12px;
     margin-bottom: 3px;
   }
   #contact .call a{
    font-size: 13px;
   }
   #contact .together{
    padding-top: 10px;
   }
   #contact .together h4{
    font-size: 18px;
   }
   #contact .together p:nth-child(2){
    font-size: 13px;
    padding-bottom: 0;
   }
   #contact .together p:nth-child(3){
    font-size: 12px;
   }
   #contact .together a{
    font-size: 13px;
   }
   #contact .talk{
    padding-top: 10px;
   }
   #contact .talk .lets{
    border-radius: 10px;
    font-size: 10px;
    padding: 8px 11px 8px 15px;
   }
   #contact .talk .follow{
    padding-top: 20px;
   }
   #contact .talk .follow span:nth-child(1){
    font-size: 14px;
   }
   /* CONTACT END */

}